{% extends 'base.html' %}
{% load static %}

{% block title %}
Set New Password - A Perfect Online Shop
{% endblock title %}


{% block body_content %}
<!-- breadcrumb area start -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-wrap">
                    <nav aria-label="breadcrumb">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Set New Password</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb area end -->

<!-- login register wrapper start -->
<div class="login-register-wrapper">
    <div class="container">
        <div class="member-area-from-wrap">
            <div class="row">

                <!-- Login Content Start -->
                <div class="col-lg-6" style="margin: auto;">
                    <div class="login-reg-form-wrap  pr-lg-50">
                        <h2 style="text-align: center;">Set New Password</h2>
                        {% if messages %}
                        {% for messages in messages %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <strong>{{messages}}</strong>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                        {% endfor %}
                        {% endif %}
                        
                        <h4><i>Check Your Mail, We send a OTP for set a new password!</i></h4>
                        <form method="POST">
                            {% csrf_token %}
                            <div class="single-input-item">
                                <input type="email" value="{{user.email}}" readonly disabled placeholder="Enter Your Username" name="email" required />
                            </div>
                            <div class="single-input-item">
                                <input type="password" placeholder="Enter your OTP" name="otp_code" required />
                            </div>
                            <div class="single-input-item">
                                <input type="password" placeholder="Enter your New Password" name="new_password" required />
                            </div>

                            <div class="single-input-item">
                                <div class="login-reg-form-meta d-flex align-items-center justify-content-between">
                                    <div class="remember-meta">
                                        <div class="custom-control custom-checkbox">
                                            <p class="custom-control-label">You have an no account!  <a href="{% url 'registration' %}"> Registration</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-input-item">
                                <div class="login-reg-form-meta d-flex align-items-center justify-content-between">
                                    <div class="remember-meta">
                                        <div class="custom-control custom-checkbox">
                                            <p class="custom-control-label">Already You have an account!  <a href="{% url 'login' %}"> Login</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="single-input-item">
                                <button type="submit" class="sqr-btn">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- Login Content End -->

            </div>
        </div>
    </div>
</div>
<!-- login register wrapper end -->
{% endblock body_content %}