<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <style>
        .invoice-title h2,
        .invoice-title h3 {
            display: inline-block;
        }

        .table>tbody>tr>.no-line {
            border-top: none;
        }

        .table>thead>tr>.no-line {
            border-bottom: none;
        }

        .table>tbody>tr>.thick-line {
            border-top: 2px solid;
        }

        .container {
            width: 40%;
        }
    </style>
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="invoice-title">
                    <h2>Invoice</h2>
                    <h3 class="pull-right">Order # {{order.order_id}}</h3>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-6">
                        <address>
                            <strong>Billed To:</strong><br>
                            {{order.first_name}} {{order.last_name}}<br>
                            {{order.address}}
                            <!-- 1234 Main<br>
                            Apt. 4B<br>
                            Springfield, ST 54321 -->
                        </address>
                    </div>
                    <div class="col-md-6 text-right">
                        <address>
                            <strong>Shipped To:</strong><br>
                            {{order.first_name}} {{order.last_name}}<br>
                            {{order.address}}
                            <!-- 1234 Main<br>
                            Apt. 4B<br>
                            Springfield, ST 54321 -->
                        </address>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <address>
                            <strong>Payment Method:</strong><br>
                            {% if order.paid == False %}
                            <!-- Visa ending **** 4242<br> -->
                            Cash On Delivery<br>
                            {% else %}
                            Online Payment<br>
                            {% endif %}
                            {{order.email}}
                        </address>
                    </div>
                    <div class="col-md-6 text-right">
                        <address>
                            <strong>Order Date:</strong><br>
                            {{order.order_date}}<br><br>
                        </address>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>Order summary</strong></h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-condensed">
                                <thead>
                                    <tr>
                                        <td><strong>Item</strong></td>
                                        <td class="text-center"><strong>Price</strong></td>
                                        <td class="text-center"><strong>Quantity</strong></td>
                                        <td class="text-right"><strong>Totals</strong></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- foreach ($order->lineItems as $line) or some such thing here -->
                                    {% for orderitems in orderitems %}
                                    <tr>
                                        <td>{{orderitems.product.product_title}}</td>
                                        <td class="text-center">
                                            {{orderitems.product.discount_price}}</td>
                                        <td class="text-center">{{orderitems.quantity}}</td>
                                        <td class="text-right">{{orderitems.total_price}}</td>
                                    </tr>
                                    {% endfor %}
                                    <tr>
                                        <td class="thick-line"></td>
                                        <td class="thick-line"></td>
                                        <td class="thick-line text-center">
                                            <strong>Subtotal</strong>
                                        </td>
                                        <td class="thick-line text-right">{{order.total_amount}}
                                            BDT</td>
                                    </tr>
                                    <tr>
                                        <td class="no-line"></td>
                                        <td class="no-line"></td>
                                        <td class="no-line text-center">
                                            <strong>Shipping</strong>
                                        </td>
                                        <td class="no-line text-right">Free Shipping</td>
                                    </tr>
                                    <tr>
                                        <td class="no-line"></td>
                                        <td class="no-line"></td>
                                        <td class="no-line text-center"><strong>Total</strong>
                                        </td>
                                        <td class="no-line text-right">{{order.total_amount}}
                                            BDT</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>