{% extends '../base/base.html' %}
{% load static %}

{% block title %}
Check Out - A Perfect Online Shop
{% endblock title %}


{% block body_content %}
<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-wrap">
                    <nav aria-label="breadcrumb">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'products' %}">shop</a></li>
                            <li class="breadcrumb-item active" aria-current="page">checkout</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="checkout-page-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Checkout Login Coupon Accordion Start -->
                <div class="checkoutaccordion" id="checkOutAccordion">

                    <!-- RETURNING CUSTOMER? CLICK HERE TO LOGIN -->

                    <div class="card">
                        <h3>Have A Coupon? <span data-toggle="collapse" data-target="#couponaccordion">Click Here To
                                Enter Your Code</span></h3>
                        <div id="couponaccordion" class="collapse" data-parent="#checkOutAccordion">
                            <div class="card-body">
                                <div class="cart-update-option">
                                    <div class="apply-coupon-wrapper">
                                        <form action="#" method="post" class=" d-block d-md-flex">
                                            <input type="text" placeholder="Enter Your Coupon Code" required="">
                                            <button class="check-btn sqr-btn">Apply Coupon</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Checkout Login Coupon Accordion End -->
            </div>
        </div>

        <form action="{% url 'order_process' %}" method="POST"> {% csrf_token %}
            <div class="row">
                <!-- Checkout Billing Details -->
                <div class="col-lg-6">
                    <div class="checkout-billing-details-wrap">
                        <h2>Billing Details</h2>
                        <div class="billing-form-wrap">


                            <div class="row">
                                <div class="col-md-6">
                                    <div class="single-input-item">
                                        <label for="f_name" class="required">First Name</label>
                                        <input type="text" id="f_name" placeholder="First Name" name="first_name"
                                            required="" value="{{customer.first_name}}">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="single-input-item">
                                        <label for="l_name" class="required">Last Name</label>
                                        <input type="text" id="l_name" placeholder="Last Name" name="last_name"
                                            required="" value="{{customer.last_name}}">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="single-input-item">
                                        <label for="email" class="required">Email Address</label>
                                        <input type="email" id="email" placeholder="Email Address" name="email"
                                            required="" value="{{customer.email}}">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="single-input-item">
                                        <label for="phone">Phone</label>
                                        <input type="text" id="phone" placeholder="Phone" name="phone_number"
                                            value="{{customer.phone_number}}">
                                    </div>
                                </div>
                            </div>


                            <div class="single-input-item">
                                <label for="street-address" class="required pt-20">Address</label>
                                <input type="text" id="street-address" placeholder="Street address Line 1"
                                    name="address" value="{{customer.address}}" required="">
                            </div>



                            <!-- <div class="single-input-item">
                                <label for="street-address" class="required pt-20">Street address</label>
                                <input type="text" id="street-address" placeholder="Street address Line 1" required="">
                            </div>
            
                            <div class="single-input-item">
                                <input type="text" placeholder="Street address Line 2 (Optional)">
                            </div>
            
                            <div class="row">
                                <div class="col-6">
                                    <div class="single-input-item">
                                        <label for="town" class="required">Upazila</label>
                                        <input type="text" id="town" placeholder="Town / City" required="">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="single-input-item">
                                        <label for="state">District</label>
                                        <input type="text" id="state" placeholder="State / Divition">
                                    </div>
                                </div>
                            </div>
            
                            <div class="row">
                                <div class="col-6">
                                    <div class="single-input-item">
                                        <label for="country" class="required">Country</label>
                                        <select name="country nice-select" id="country" style="display: none;">
                                            <option value="Bangladesh">Bangladesh</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="single-input-item">
                                        <label for="postcode" class="required">Postcode / ZIP</label>
                                        <input type="text" id="postcode" placeholder="Postcode / ZIP" required="">
                                    </div>
                                </div>
                            </div> -->



                            <div class="single-input-item">
                                <label for="ordernote">Order Note</label>
                                <textarea name="ordernote" id="ordernote" cols="30" rows="3"
                                    placeholder="Notes about your order, e.g. special notes for delivery."></textarea>
                            </div>

                        </div>
                    </div>
                </div>





                <!-- Order Summary Details -->
                <div class="col-lg-6">
                    <div class="order-summary-details mt-md-26 mt-sm-26">
                        <h2>Your Order Summary</h2>
                        <div class="order-summary-content mb-sm-4">
                            <!-- Order Summary Table -->
                            <div class="order-summary-table table-responsive text-center">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Products</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for cart in cart %}
                                        <tr>
                                            <td><a href="{% url 'product_details' cart.product.product_slug %}">{{cart.product.product_title|truncatewords:4}}
                                                    <strong> × {{cart.quantity}}</strong></a>
                                            </td>
                                            <td>{% widthratio cart.product.discount_price 1 cart.quantity %} BDT</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td>Sub Total</td>
                                            <td><strong>{{cart_total}} BDT</strong></td>
                                        </tr>
                                        <tr>
                                            <td>Shipping</td>
                                            <td class="d-flex justify-content-center">
                                                <ul class="shipping-type">
                                                    <!-- <li>
                                                    <div class="custom-control custom-radio">
                                                        <input type="radio" id="flatrate" name="shipping" class="custom-control-input" checked="" value="60">
                                                        <label class="custom-control-label" for="flatrate">Dhaka City 60 BDT</label>
                                                    </div>
                                                </li> -->

                                                    <li>
                                                        <div class="custom-control custom-radio">
                                                            <input type="radio" name="shipping"
                                                                class="custom-control-input">
                                                            <label class="custom-control-label" for="freeshipping">Free
                                                                Shipping</label>
                                                        </div>
                                                        
                                                        <div class="custom-control custom-radio">
                                                            <input type="radio" name="shipping"
                                                                class="custom-control-input">
                                                            <label class="custom-control-label" for="freeshipping">Free
                                                                Shipping</label>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Total Amount</td>
                                            <td><strong>{{total_price}} BDT</strong></td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <!-- Order Payment Method -->
                            <div class="order-payment-method">
                                <div class="single-payment-method show">
                                    <div class="payment-method-name">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="cashon" name="paymentmethod" value="Cash On Delivery"
                                                class="custom-control-input" checked="">
                                            <label class="custom-control-label" for="cashon">Cash On Delivery</label>
                                        </div>
                                    </div>
                                    <div class="payment-method-details" data-method="cash">
                                        <p>Pay with cash upon delivery.</p>
                                    </div>
                                </div>


                                <div class="single-payment-method">
                                    <div class="payment-method-name">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="directbank" name="paymentmethod" value="SSLCommerce"
                                                class="custom-control-input">
                                            <label class="custom-control-label" for="directbank">SSLCommerce</label>
                                        </div>
                                    </div>
                                    <div class="payment-method-details" data-method="bank">
                                        <p>Make your payment directly into our bank account. Please use your Order ID as
                                            the
                                            payment reference. Your order will not be shipped until the funds have
                                            cleared
                                            in our account..</p>
                                    </div>
                                </div>
                                <div class="summary-footer-area">
                                    <!-- <div class="custom-control custom-checkbox mb-14">
                                        <input type="checkbox" class="custom-control-input" id="terms" required="">
                                        <label class="custom-control-label" for="terms">I have read and agree to the
                                            website
                                            <a href="{% url 'home' %}">terms and conditions.</a></label>
                                    </div> -->
                                    <button type="submit" class="check-btn sqr-btn">Place Order</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>
{% endblock body_content %}